
.landing-page
{
 height: 100vh;
 background: url('./img/image3.jpg') #000 no-repeat;
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
 filter: grayscale(30%);
}

*
{
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}

body
{
color: antiquewhite;
background-color: black;
}

.section-header
{
color: antiquewhite;
}

.box-test {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity by changing the last value (0 to 1) */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center the text */
}

upload-container {
    margin: 50px;
}

input[type="file"] {
    display: none; /* Hide the default file input appearance */
}

label {
    cursor: pointer; /* Change cursor to pointer when hovering over the label */
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}
